nav {
    position: absolute;
    right: 0;
    top: 0;
}

nav p {
    display: inline-block;
    margin: 3em;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#carousel * {
    width: 80vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
}
