body {
    color: #acccff;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: absolute;
    right: 0;
    top: 0;
}

nav p {
    display: inline-block;
    margin: 3em;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}