nav {
    position: absolute;
    right: 0;
    top: 0;
}

nav p {
    display: inline-block;
    margin: 3em;
}

header * {
    margin-left: 5vw;
}

.show {
    display: inline-block;
    height: 40vh;
    width: 80vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.hide {
    display: none;
    height: 0;
    width: 0;
}

.carouselBtn {
    display: inline-block;
}

#backArrow {
    margin-left: auto;
    width: 0;
    height: 0;
    border-top: 2vw solid transparent;
    border-right: 2vw solid black;
    border-bottom: 2vw solid transparent;
}

#forwardArrow {
    margin-right: auto;
    width: 0;
    height: 0;
    border-top: 2vw solid transparent;
    border-left: 2vw solid black;
    border-bottom: 2vw solid transparent;
}

#carousel, #carousel * {
    text-align: center;
    vertical-align: middle;
}

#carousel_text {
    text-align: center;
    font-size: 200%;
    margin-top: 1vh;
}