<!DOCTYPE html>

{% load static %}

<html>


<head lang="en">
    <meta charset="UTF-8">
    <title>About UnFree Time</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets//about.css' %}">
</head>


<body background="{% static 'images//city.jpg' %}">
    <h1>So about this UnFree Time...</h1>
    <ul>
        <li>Maybe you are like me and spent way too much time playing World of Warcraft.</li>
        <li>Maybe you want to stop reading BuzzFeed and get to the gym more.</li>
        <li>Maybe you don't care about productivity and just really want to learn how to knit.</li>
    </ul>
    <h3>This website is here to help, once I get around to making it.</h3>
</body>


</html>