<!DOCTYPE html>

{% load static %}

<html xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="UTF-8">
        <title>UnFree Time</title>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}">
        <link rel="icon" type="ico" href="{% static 'images/uft.ico' %}">
    </head>

    <body>

    <header>
            <h1>Welcome to UnFree Time!</h1>
    </header>

    <nav>
        <p>Share</p>
        <p>History</p>
        <p>Log In</p>
    </nav>

    <section>

        <div id="carousel">

            <span id="backArrow" class="carouselBtn"></span>

            <img id="c1" class="show" src="{% static 'images/library.jpg' %}">
            <img id="c2" class="hide" src="{% static 'images/skiing.jpg' %}">
            <img id="c3" class="hide" src="{% static 'images/exercise.jpg' %}">
            <img id="c4" class="hide" src="{% static 'images/hiking.jpg' %}">

            <span id="forwardArrow" class="carouselBtn"></span>

        </div>

        <div id="carousel_nav">

        </div>

    </section>

    <p>Nice to see you again, <strong>{{ user_name }}</strong><br /></p>

    <a href="/freetime/about/">About</a><br />

    </body>

    <script src="{% static 'scripts/index.js' %}"></script>

</html>
