<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <meta charset="UTF-8">
        <title>UnFree Time</title>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}">
    </head>

    <body background="{% static 'images/freetime_field.jpg' %}">

    <header>
            <h1>Welcome to UnFree Time!</h1>
    </header>

    <nav>
        <p>Share</p>
        <p>History</p>
        <p>Log In</p>
    </nav>

        <p>Nice to see you again, <strong>{{ user_name }}</strong><br /></p>

        <a href="/freetime/about/">About</a><br />

    </body>

</html>
