<!DOCTYPE html>

{% load static %}

<html xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="UTF-8">
        <title>UnFree Time</title>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}">
        <link rel="icon" type="ico" href="{% static 'images/uft.ico' %}">
    </head>

    <body>

    <header>
        <h1>Welcome to UnFree Time!</h1>
        <p>Nice to see you again, <strong>{{ user_name }}</strong></p>
    </header>

    <nav>
        <a href="/freetime/about/">About</a>
        <p>Share</p>
        <p>History</p>
        <p>Log In</p>
    </nav>

    <section>

        <div id="carousel">

            <a id="backArrow" class="carouselBtn"></a>

            <img id="c1" class="show" src="{% static 'images/library.jpg' %}">
            <img id="c2" class="hide" src="{% static 'images/skiing.jpg' %}">
            <img id="c3" class="hide" src="{% static 'images/exercise.jpg' %}">
            <img id="c4" class="hide" src="{% static 'images/hiking.jpg' %}">

            <a id="forwardArrow" class="carouselBtn"></a>

        </div>

        <div id="carousel_text">
            Finish writing that novel, or make a dent in your to-read pile.
        </div>

    </section>

    <section id="bottom_container">

        <section class="column">
            <a href="">Add a Record</a>
            <a href="">Create a Goal</a>
        </section>

        <section class="column">
            Your Progress
        </section>

        <section class="column">
            Something else
        </section>

    </section>

    </body>

    <script src="{% static 'scripts/index.js' %}"></script>

</html>
